# =========================
# Archivos compilados Java
# =========================
*.class

# =========================
# Carpetas generadas por Eclipse
# =========================
/bin/
.project
.classpath
.settings/

# =========================
# Carpetas de build comunes
# =========================
/out/
/target/

# =========================
# Archivos temporales
# =========================
*.log
*.tmp
*.swp

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
