# Archivos compilados Java
*.class

# Carpetas de build
/out/
/bin/
/target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/build/
/dist/

# Temporales
*.log
*.tmp
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
